@import '../../styles/mixins.scss';

.item {
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 20px;
  flex: 1;
  justify-content: space-between;

  @include simple-flex;

  & + & {
    margin-top: 15px;
  }

  .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
  }
}
